body
{
text-align:center;
color:black;
background-repeat:no-repeat;
background-attachment:fixed;
background-size:100% 100%;
margin:0;
overflow:auto;
}
h1
{
font-size:1.2em;
font-family:Arial, Helvetica, sans-serif, Microsoft Yahei;
}
div.header
{
height:auto;
width:100%;
position:fixed;
top:0;
padding-top:0.5%;
padding-bottom:0.3%;
line-height:6%;
text-align:center;
font-size:32px;
background-color:rgb(44, 53, 136);
color:rgb(137, 247, 255);
box-shadow:0px 3px 5px #3a4f8a;
z-index:1;
}
div.navbar
{
animation:navbar-flashing 2s;
height:1px;
width:1px;
background:#C8FFF8;
opacity:0.9;
}
@keyframes navbar-flashing
{
from{background:#C8FFF8;}
to{background:#FFFFFF;}
}
img.navbar
{
height:1px;
width:1px;
}
div.article
{
margin-top:3%;
margin-left:auto;
margin-right:auto;
margin-bottom:10%;
padding:2%;
padding-top:0;
box-shadow:0px 2px 6px 0px #668866;
background-color:rgba(255,255,255,0.9);
opacity:1;
width:60%;
font-size:16px;
color:black;
text-align:left;
display:inline-block; 
*display:inline; 
*zoom:1;
overflow:hidden;
}
a{color:white;text-decoration:none;}
a:visited,a:focus{
            text-decoration:none;color:#FF00FC;
        }
        .center-to-head{
            width: 100%;
            height: 1px;color:#FF00FC;
            position: relative;
        }
        .center-to-head::after{
            content: "";
            width: 0;
            height: 5%;
            background: #FF00FC;
            position: absolute;
            top: 100%;
            left: 50%;
            transition: all 0.3s;
        }
        .center-to-head:hover::after{
            left: 0%;
            width: 100%;
        }
list
{
font-size:20px;
font-weight:bold;
font-style:italic;
color:#FF9888;
}
div.no-opacity
{
margin-left:auto;
margin-right:auto;
background-color:#00000F;
font-size:18px;
opacity:1;
color:black;
text-align:center;
over-flow:hidden;
}
div.code
{
box-shadow:3px 3px 3px 2px #668666;
border-radius:3px;
padding:0;
opacity:1;
text-align:left;
}
.RT
{
font-size:26px;
font-weight:600;
text-align:center;
line-height:32px;
}
.rt
{
color:black;
font-size:26px;
font-weight:600;
}
.rt:hover
{
font-weight:800;
font-size:30px;
color:#33B338;
}
.moreopacity
{
opacity:0.8;
}
code
{
text-align:left;
line-height:1.5em;
font-size:1em;
font-family: serif;
font-weight:450;
}
pre
{
text-align:left;
margin:0;
}
blockquote.left-border {  
font: 18px normal helvetica, sans-serif;
padding-left: 2%;
border-left: 3px solid #bbb;
}
.video
{
margin-left:auto;
margin-right:auto;
padding:10px;
background-color:#030303;
opacity:0.9;
over-flow:hidden;
}
video
{
width:100%;
height:100%;
}
.in-line{box-shadow:2px 2px 3px rgba(40, 51, 39, 0.8);border-radius:3px;}
del{text-decoration: line-through;}div.bottom {
position:relative;
bottom:0;left:0;
width:100%;
margin:0;
text-align:center;
background:black;
color:white;
font-size:0.6em;
}
ul.menu,ul.footer,li.footer {
list-style:none;
color:grey;
margin:0;padding:0;
}
li.footer {
display:inline;
width:min-content;
padding-right:0.5em;
border-style: none solid none none;
border-color:white;
border-width:2px;
}
div.bottom {
position:relative;
 bottom:0;left:0;
width:100%;
margin:0;
    text-align:center;
    background:black;
    color:white;
    font-size:0.6em;
    }
    ul.menu,ul.footer,li.footer {
    list-style:none;
    color:grey;
    margin:0;padding:0;
    }
    li.footer {
    display:inline;
    width:min-content;
    padding-right:0.5em;
    border-style: none solid none none;
    border-color:white;
    border-width:2px;
    }