div
{
margin-left:auto;
margin-right:auto;
background-color:white;
opacity:0.3;
font-size:18px;
color:black;
text-align:center;
over-flow:hidden;
}
a
{
color:#FFF888;
font-family:YaHei;
font-size:15px;
background-color:black;
opacity:0.9;
text-decoration:none;
background:none;
}
body
{
text-align:center;
color:white;
background-repeat:no-repeat;
background-attachment:fixed;
background-size: 100%;
}
list
{
font-size:20px;
font-weight:bold;
color:#FF9888;
}
div.no-opacity
{
margin-left:auto;
margin-right:auto;
background-color:#00000F;
color:#F8FFFC;
font-size:18px;
opacity:1;
text-align:center;
over-flow:hidden;
}
