body {
    margin:0;
	padding:0;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    text-align:center;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
}
h1,h2,h3,h4,h5,h6 {
font-family:Arial,Droid Sans,"Microsoft YaHei";
margin: 0;
line-height:auto
}
h1 {font-size:6em;}
h2 {font-size:5em;}
h3 {font-size:3em;}
h4 {font-size:1.6em;}
ul {min-height:2em;}
div {
    margin:auto;
}
div.head {
position:static;
top:0;
padding-bottom:0.1em;
padding-top:1em;
background-color:rgba(82, 55, 126, 0.7);
box-shadow:0 0.3em 0.5em 0.2em rgb(87, 66, 104);
}
div.bottom {
position: relative;
bottom:0;left:0;
width:100%;
margin:0;
text-align:center;
background:black;
color:white;
font-size:0.6em;
}
ul.menu,ul.footer,li.footer {
list-style:none;
color:grey;
margin:0;padding:0;
}
li.footer {
display:inline;
width:min-content;
padding-right:0.5em;
border-style: none solid none none;
border-color:white;
border-width:2px;
}
.option {
width:25%;
background-color:rgba(87, 66, 104, 0.8);
height:auto;
text-align:center;
float:left;
}
.option:hover {
background-color:rgb(124, 135, 165);
}
a {
color:white;
font-family:Arial;
text-decoration:none;
}
a.big{font-size:2em;}
.grey-hover {color:rgb(205, 205, 205);}
.grey-hover:hover {color:rgb(255, 255, 255);}
.bg-grey {background-color: rgba(159, 124, 216, 0.3);}
.small {font-size:1.6em;}
.block {display:block;}
.bluishgreen {
    color:rgb(97, 216, 166);
    text-shadow:0.1em 0.05em 0.1em #668870;
}
.white {color:#FFFFFF;text-shadow:0.05em 0.05em 0.1em #EAEAEA;}
.no-shadow {text-shadow:none;}
.shadow-in {box-shadow:0 0 0.2em 0.1em rgb(159, 124, 216);}
.radius {border-radius: 0.1em/0.1em;}
.center{text-align: center;}
.left{text-align: left;}
.no-padding {padding:0;}
.padding-thin {padding:2%;}
.padding-wide {padding:5%;}
.no-margin {margin:0;}
.margin-thin {margin:2%;}
.margin-wide {margin:5%;}
.horizontal{float: left;}