@font-face{font-family: 'comfortaa';src:url('../resources/Comfortaa-Light.ttf')}
body {
    margin:0;
	padding:0;
    font-family: 'comfortaa',Tahoma, Verdana, Arial, sans-serif;
    text-align:center;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
}
*,*::after,*::before{box-sizing: border-box;}
h1,h2,h3,h4,h5,h6 {
margin: 0;
line-height:auto
}
h1 {font-size:6em;}
h2 {font-size:5em;}
h3 {font-size:3em;}
h4 {font-size:1.6em;}
ul {min-height:2em;}
div {
    margin:auto;
}
div.head {
position:static;
top:0;
padding-bottom:0.1em;
padding-top:1em;
background-color:rgba(82, 55, 126, 0.7);
box-shadow:0 0.3em 0.5em 0.2em rgb(87, 66, 104);
}
div.bottom {
position: relative;
bottom:0;left:0;
width:100%;
margin:0;
text-align:center;
background:black;
color:white;
font-size:0.6em;
}
ul.menu,ul.footer,li.footer {
height: 2.3em;
list-style:none;
color:grey;
margin:0;padding:0;
overflow: hidden;
}
ul{position: relative;width:100%;}
li.footer {
display:inline;
width:min-content;
padding-right:0.5em;
border-style: none solid none none;
border-color:white;
border-width:2px;
}
.option {
    height:2.3em;
    text-align:center;
    float:left;
    width:25%;
    overflow: hidden;
    display: block;
}
a {
color:white;
font-family: inherit;
text-decoration:none;
}
a.big{font-size:2em;}
.grey-hover {color:rgb(205, 205, 205);}
.grey-hover:hover {color:rgb(255, 255, 255);}
.bg-grey {background-color: rgba(159, 124, 216, 0.3);}
.small {font-size:1.6em;}
.block {display:block;}
.bluishgreen {
    color:rgb(97, 216, 166);
    text-shadow:0.1em 0.05em 0.1em #668870;
}
.white {color:#FFFFFF;text-shadow:0.05em 0.05em 0.1em #EAEAEA;}
.no-shadow {text-shadow:none;}
.shadow-in {box-shadow:0 0 0.2em 0.1em rgb(159, 124, 216);}
.radius {border-radius: 0.1em/0.1em;}
.center{text-align: center;}
.left{text-align: left;}
.no-padding {padding:0;}
.padding-thin {padding:2%;}
.padding-wide {padding:5%;}
.no-margin {margin:0;}
.margin-thin {margin:2%;}
.margin-wide {margin:5%;}
.horizontal{float: left;}
.circle-spread::before{
    position: absolute;
    z-index: -1;
    content:"";
    background-color:rgba(87, 66, 104, 0.8);
    background-size: 100%;
    opacity: 0.5;
    height:100%;
    width:25%;
    display: block;
    overflow: hidden;
}
.circle-spread:active::before{
    content:"";
    background: -moz-radial-gradient(center,circle,rgba(160,160,160,0.2),rgba(200,200,200,0.8),transparent 10%);
    background: -webkit-radial-gradient(center,circle,rgba(160,160,160,0.2),rgba(200,200,200,0.8),transparent 10%);
    background-position: 50%;
    transform: scale(10,10);
    opacity: 1;
    -webkit-transition: opacity,transform 0.1s,0.3s ease-out;
    transition:opacity,transform 0.1s,0.3s ease-out;
    overflow: hidden;
}
div.selfcontain{height: auto;width: auto;overflow: hidden;}

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
      background-repeat: no-repeat;
      background-position: 50%;
      transform: scale(10,10);
      opacity: 0;
      transition: transform .5s, opacity 1s;
    }
  
    &:active:after {
      transform: scale(0,0);
      opacity: .2;
      transition: 0s;
    }
  }