@font-face{font-family: 'comfortaa';src:url('../../resources/fonts/Comfortaa-Light.ttf')}
@font-face{font-family: 'respective';src:url('../../resources/fonts/Respective_Slanted.ttf')}
.year{font-size:5em;}
.month{font-size:4em;font-family:'respective','comfortaa','serif';font-variant-numeric: oldstyle-nums;}
.day{font-size: 2em;}
.year,.day{font-family:'comfortaa';font-weight: bold;}
.year,.month,.day,.item{text-align: center;}
.page-list{
    max-width:50%;
    margin:0 auto;
    font-size:1.6rem;
    line-height: 3rem;
}
.center{
    text-align:center;
}
.big{font-size:3.5rem;}