
main{padding:0 0 1% 0 !important;}
main>div{
    margin:0;text-align:center;cursor: pointer;overflow: hidden;
    border-bottom:1px solid rgba(0,0,0,.1);
    transition:box-shadow 0.3s ease-out 0.1s,
    background 0.2s linear 0s;
}
main>div>p{
    display:inline-block;margin:3% 5%;max-height:20%;
    text-overflow: ellipsis;overflow: hidden;white-space: nowrap;
}
main>div:hover{
    box-shadow:0px 0px 5px 0px rgba(0,0,0,.5) inset;
    background:rgb(255, 255, 249);
}
main>div:active{
    box-shadow:0px 0px 8px 0px rgba(0,0,0,.6) inset;
    background:rgb(235, 235, 203);
}
#page-turn{
    margin:3% auto;
    font-size:2rem;
    line-height:2.5rem;
    letter-spacing:0.2rem;
    background:rgb(204, 204, 204);border-spacing:0px;
}
#page-turn td{
    margin:0;padding:0;
}
#page-turn a{
    color:black;
    display:inline-block;text-align:center;
    min-width:2.5rem;
    padding:0 0.2rem;
    background:rgb(216, 216, 216);
    border:2px solid rgba(0,0,0,0);
}
#page-turn a:hover{
    background:rgb(202, 202, 202);
    text-shadow:none;
    border-top-color:black;
    border-bottom-color:darkgray;
}
#page-turn a:active{
    background:rgb(167, 167, 167);
}
#sidebar{
    position:fixed;top:22%;left:3%;width:16%;padding:1% 0;
    background:rgb(255, 255, 240);
}
.full{width:100%}
#selfintro{position: relative;top:0;bottom:0;text-align:center;margin:auto;}
#overview{clear:both;text-align:center;vertical-align: middle;width:100%;}
#overview p{margin:0.3rem 0 0 0;}
#front-page{
    height:70%;
    text-align:center;
}
#front-page h1{font-size:12rem;}
#front-page h2{font-size:3rem;font-style:italic}
#front-page-bg{
    position:absolute;
    top:0;
    background:linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,.5) 60%,rgba(0,0,0,0) 90%),url('../../picture/ZhYiclogo_v2.svg');
    background-size:100% 100%;
    background-blend-mode: lighten;
    width:100%;
    height:100%;
    z-index:-1;
}
#front-page-skip{
    background-size:100% 100%;
    height:6rem;
    width:6rem;
    margin:0 auto;
    cursor: pointer;
}
#front-page-skip:hover #path854{stroke:#1baae2 !important}
#front-page-skip:hover #path823{stroke: #1baae2 !important;fill: #1baae2 !important}
nav{display:block;width:60%;margin:0 auto;text-align:center;background:whitesmoke;height:3rem;padding-left:2%;}
nav ul{display:inline;font-size:2rem;list-style:none;width:100%}
nav ul li{float:left;width:19.2%;}
li a{
    display:block;height:100%;line-height:3rem;color:black !important;font-weight: 600;
    transition: background 0.2s ease-out 0s;
}
li a:hover{text-shadow:1px 1px white;background:rgba(0,0,0,.2)}