body{
    height:100%;transform:none;width:100%;margin:0;
}
blockquote{padding-left:5px;border-left: 4px #BBB solid;background-color: rgba(127,127,127,.1);border-radius:2px;}
#menu-container,#header-container{box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2);}
#header-container{
    position: fixed;
    z-index: 980;
    top:0;
    height:3.5rem;width:100%;
    font-size:0;line-height:0;
    transform:none;
    opacity: 1;
    background-color: white;
}
#header-context{
width:100%;margin:0 auto;display:inline-block;height:auto;font-size:1rem;text-align: center;
}
#header h1{font-size:2.8rem;}
#menu-container{position: fixed;line-height:1rem;width:100%;top:3.5rem;z-index:980;background:white;}
#header{height:100%;width:100%;}
#to-top{
    background: white;
    display: none;
    height:5%;
    opacity: 0;
    position: fixed;
    z-index: 998;
    border-radius: 5%;
    bottom:5%;right:3%;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
}
#to-top-symbol{
    z-index: 999;
    opacity: 1;
}
#menu-button{
    position:absolute;left:0;
    height:100%;
}
#theme-button{
    position:absolute;right:0;
    height:100%;
}
a,a:visited,a:focus{
    color:rgb(47, 53, 83);
    text-decoration-line: none;
}
a:hover{
    color:rgb(77, 89, 151);
    text-shadow: 1px 2px rgba(55, 242, 255, 0.308);
}
.menu{
    position: absolute;height:100%;width:100%;z-index: 996;
    overflow: hidden;
    display: block;
    box-shadow:0 -1px 0px 0px rgba(0,0,0,0.2);
}
ul.menu{
    list-style:none;overflow:hidden;box-shadow:none;
    text-align:center;padding:0;margin:0;font-size:3%;
    column-count:1;
}
main,iframe.PageMain{
    opacity:0;
    display:block;
    position: relative;
    background-color:#FFFFF0;
    padding-bottom:3%;
    right:0;left:0;
    word-break:break-all;
}
main{box-shadow:rgba(0,0,0,.2) 0 0 1px 1px;border-radius: 3px;}
main.pc{
    transition: box-shadow 0.5s ease 0s;
    width:60%;margin:15%;margin-top:8%;margin-bottom:0;padding:5%;
}
main.pc:hover{box-shadow:
    rgba(0,0,0,.2) 0px 0px 1px 0px,
    rgba(0, 0, 0, .18) 0px 2px 10px 3px,
    rgba(0, 0, 0, .12) 0px 8px 20px -8px !important;
}
iframe.PageMain{margin-top:6%;opacity:1;height: auto;}
img{
    max-width:96%;
    max-height:96%;
}
pre{
    box-shadow: 1px 2px 3px 2px rgba(71, 71, 71, 0.5);
    font-size:16px;
}
pre code{padding:3%;}
p:before{content:"\2003";}
.footer{
    position: relative;
    bottom:0;left:0;right:0;
    background-color: grey;
    display:block;
}
code::-webkit-scrollbar{
    opacity:0;
    height:10px;
    width:10px;
}
code::-webkit-scrollbar-track{
    border-radius:10px;
}
code::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px 2px rgba(97, 97, 97, 0.3);
    box-shadow: inset 0 0 3px 2px rgba(97, 97, 97, 0.3);
    background-color: rgba(136, 136, 136, 0.5);
}
code.mobile::-webkit-scrollbar{
    height:6px;
}
iframe.fullscreen{width: 100%;}
#footer{
    width: 100%;position: relative;
    bottom:0;
}
.footer-container{position: absolute;bottom: 0;width:100%;background-color: rgb(18, 18, 18);}
.footer-functions,.footer-functions > ul > li > a{
    text-align: center;
    font-size: 0.9rem;
    color: white;
}
.footer-functions>ul>li{
    list-style: inside;cursor: pointer;margin:0 1.3rem;display: inline-table;
    display: inline;
}
.footer-functions>ul>li::before{content:"[";position: absolute;margin-right:0;opacity:0;transition: all 0.3s ease-out 0s;}
.footer-functions>ul>li::after{content:"]";position: absolute;margin-left:0;opacity:0;transition: all 0.3s ease-out 0s;}
.footer-functions>ul>li:hover::before{padding-right:-0.3rem;opacity:1;margin-left:-0.4rem;}
.footer-functions>ul>li:hover::after{padding-left:0.3rem;opacity:1;margin-right:0.4rem;}
.footer-copyright{text-align:center;color:white;font-size:0.3em;font-family: serif;display: block;}
@font-face{font-family: 'comfortaa';src:url('../../resources/Comfortaa-Regular.ttf')}
body,code,pre{font-family: 'comfortaa'}
.code-hidden{background: antiquewhite;text-align:center;display:block;}
.code-hidden img{float: left;max-height:16px;}
@keyframes boxAnimation {

    form {box-shadow:
        rgba(0,0,0,.2) 0px 0px 1px 0px;
    }
    to {box-shadow:
        rgba(0,0,0,.2) 0px 0px 1px 0px,
        rgba(0, 0, 0, .18) 0px 2px 10px 3px,
        rgba(0, 0, 0, .12) 0px 8px 20px -8px;
    }
}
.code-hidden, #to-top, #theme-button, #menu-button{cursor: pointer;}
.code-hidden-dark{background:slategrey !important;}
.code-dark{background-color:black !important;color:white !important;}
.a-lighter{color:rgb(126, 144, 235) !important;}