@import url('http://fonts.font.im/css?family=Comfortaa');
@import url('http://fonts.font.im/css?family=Combo');
/*@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&subset=chinese-simplified');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&subset=chinese-simplified');*/
html{height:100%;}
body{
    height:100%;transform:none;width:100%;margin:0;
}
code{background-color:rgba(150,150,150,.1);border:1px solid rgb(220,220,220);border-radius:3px;padding:3px;display:inline-block;margin:0.3rem;}
blockquote{padding-left:5px;border-left: 4px #BBB solid;background-color: rgba(155,155,155,.1);border-radius:2px;}
#menu-container,#header-container{box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2);}
#header-container{
    position: fixed;
    z-index: 980;
    top:0;
    height:3.5rem;width:100%;
    font-size:0;line-height:0;
    transform:none;
    opacity: 1;
    background-color: white;
}
#header-context{
width:100%;margin:0 auto;display:inline-block;height:auto;font-size:1rem;text-align: center;
}
#header h1{font-size:2.8rem;}
#menu-container{position: fixed;line-height:2rem;width:100%;top:3.5rem;z-index:980;background:white;}
#header{height:100%;width:100%;}
#to-top{
    background: white;
    display: none;
    height:5%;
    opacity: 0;
    position: fixed;
    z-index: 998;
    border-radius: 5%;
    bottom:5%;right:3%;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
}
#to-top-symbol{z-index: 999;opacity: 1}
#menu-button{position:absolute;left:0;height:3.5rem;}
#setting-area{position:absolute;right:0;height:3.5rem;}
.setting-option{width:3.5rem;margin:0 0.2rem;float:right;text-align:center;}
#setting-iframe{display:none;position:fixed;z-index:978;right:0;margin:0.3rem;padding:0.5rem;max-width:30rem;width:100%;background:white;box-shadow:0 0 2rem 0 rgba(151, 21, 21, 0.2);border-radius:0.2rem;}
a,a:visited,a:focus{
    color:rgb(47, 53, 83);
    text-decoration-line: none;
}
a:hover{
    color:rgb(77, 89, 151);
    text-shadow: 1px 2px rgba(55, 242, 255, 0.308);
}
.menu{
    position: absolute;height:100%;width:100%;z-index: 996;
    overflow: hidden;
    display: block;
    box-shadow:0 -1px 0px 0px rgba(0,0,0,0.2);
}
ul.menu{
    list-style:none;overflow:hidden;box-shadow:none;
    text-align:center;padding:0;margin:0;font-size:1.8rem;
    column-count:1;
}
main,iframe.PageMain{
    opacity:0;
    display:block;
    position: relative;
    background-color:#FFFFF0;
    padding-bottom:3%;
    right:0;left:0;
    min-height:68% !important;
    word-break:break-all;
}
main{margin-top:3.5rem;padding-top:2%;}
main.pc,.float-shadow{box-shadow:rgba(0,0,0,.2) 0 0 1px 1px;border-radius: 3px;transition: box-shadow 0.5s ease 0s;}
main.pc{width:50%;margin:0 auto;margin-bottom:0;margin-top:4.5rem;padding:5%;}
main.pc:hover,.float-shadow:hover{box-shadow:
    rgba(0,0,0,.2) 0px 0px 1px 0px,
    rgba(0, 0, 0, .18) 0px 2px 10px 3px,
    rgba(0, 0, 0, .12) 0px 8px 20px -8px !important;
}
iframe.PageMain{margin-top:6%;opacity:1;height: auto;}
img{
    max-width:96%;
    max-height:96%;
}
pre{
    box-shadow: 1px 2px 3px 2px rgba(71, 71, 71, 0.5);
    font-size:16px;
}
pre code{padding:1rem !important;margin:0}
p:before{content:"\2003";}
.footer{
    position: relative;
    bottom:0;left:0;right:0;
    background-color: grey;
    display:block;
}
code::-webkit-scrollbar{
    opacity:0;
    height:10px;
    width:10px;
}
code::-webkit-scrollbar-track{
    border-radius:10px;
}
code::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px 2px rgba(97, 97, 97, 0.3);
    box-shadow: inset 0 0 3px 2px rgba(97, 97, 97, 0.3);
    background-color: rgba(136, 136, 136, 0.5);
}
code.mobile::-webkit-scrollbar{
    height:6px;
}
iframe.fullscreen{width: 100%;}
#footer{
    width: 100%;position: relative;
    bottom:0;
}
.footer-container{position: absolute;bottom: 0;width:100%;background-color: rgb(18, 18, 18);}
.footer-functions,.footer-functions > ul > li > a{
    text-align: center;
    font-size: 1rem;
    color: white;
}
.effect-brackets,
.footer-functions>ul>li{
    list-style: inside;cursor: pointer;margin:0 1.3rem;display: inline-table;
    display: inline;position:relative;text-transform: capitalize;
}
.effect-bracktes::before,.effect-brackets::after,
.footer-functions>ul>li::before,
.footer-functions>ul>li::after{
    opacity:0;display:inline-block;transition:all 0.3s ease-out 0s;
}
.effect-bracktes::before,
.footer-functions>ul>li::before{
    margin-right:0.3rem;
    content:'[';transform:translateX(0.6rem);
}
.effect-brackets::after,
.footer-functions>ul>li::after{
    margin-left:0.3rem;
    content:']';transform:translateX(-0.6rem);
}
.effect-brackets:hover::before,.effect-brackets:hover::after,
.footer-functions>ul>li:hover::before,
.footer-functions>ul>li:hover::after{
    transform:translateX(0rem);
    opacity:1;
}
.footer-copyright{text-align:center;color:white;font-size:0.6rem;font-family: serif;display: block;}
.footer-copyright span{margin:0.2rem;}
body{font-family:/*'ZCOOL XiaoWei',*/'Comfortaa'}
.code-hidden{background: antiquewhite;text-align:center;display:block;}
.code-hidden img{float: left;max-height:16px;}
@keyframes boxAnimation {

    form {box-shadow:
        rgba(0,0,0,.2) 0px 0px 1px 0px;
    }
    to {box-shadow:
        rgba(0,0,0,.2) 0px 0px 1px 0px,
        rgba(0, 0, 0, .18) 0px 2px 10px 3px,
        rgba(0, 0, 0, .12) 0px 8px 20px -8px;
    }
}
.code-hidden, #to-top, .setting-option, #menu-button{cursor: pointer;}
.code-hidden-dark{background:slategrey !important;}
.code-dark{background-color:black !important;color:white !important;}
.a-lighter{color:rgb(126, 144, 235) !important;}
.first-em:first-letter{font-size:1.3rem;}
.small{font-size:0.8rem}
.dgrey{color:rgb(94, 94, 94)}
.center{text-align:center}
.mathengine,.themechooser{
    background:rgb(248, 248, 248);color:black;font-size:1.2rem;box-shadow:0 0 0.5rem 0 rgba(0, 0, 0, 0.363);margin:0.5rem;
    border:none;border-radius:0.2rem 0.2rem;
    transition: all 0.3s ease 0s;
}
.mathengine:hover{background:rgb(0, 140, 186);color:white}
.themechooser:hover{background:rgb(197, 89, 0);color:white}
body.darkInit{background-color:'#2c2c2c';}
main.darkInit{background-color:'#3c3c3c';color:'#FFFFFF';}
#article-index{position:fixed;background:white;left:0;margin-left:1%;min-height:60%;max-height:80%;max-width:18%;z-index:660;overflow-y: scroll;overflow-x:auto;word-wrap:none;padding:0.2rem 0;}
#article-index::-webkit-scrollbar-track{border-radius:3px;}
h1.article-index-text{font-size:1rem;}
h2.article-index-text{font-size:1rem;}
h3.article-index-text{font-size:0.8rem;}
h4.article-index-text{font-size:0.8rem;}
h5.article-index-text{font-size:0.6rem;}
h6.article-index-text{font-size:0.5rem;}
.article-index-node{margin:0.1rem;margin-left:1rem;}
.article-index-text{margin:0.05rem;cursor:pointer;}
.article-index-text:hover{color:rgb(116, 59, 13);text-decoration:underline;}
.article-index-dark{color:rgb(229, 188, 149);background:rgb(18, 18, 18) !important;}
.article-index-dark::-webkit-scrollbar{background:rgba(83, 83, 83, 0.12);padding:1px;}
.article-index-dark::-webkit-scrollbar-thumb{background:rgba(136, 136, 136, 0.5);}